<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/CSS/AdminHome.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
</head>

<body style="background-color: gray;">

<div class="layui-container">
    <div class="layui-col-md3">
        <div class="layui-panel site-menu" style="width: 235px;">
            <ul class="layui-menu layui-menu-lg">
                <li class="layui-menu-item-group" style="height: 800px" lay-options="{type: 'group', isAllowSpread: true}">
                    <ul>
                        <th:block th:each="item,state:${admin_modules}">
                            <li th:class="${#request.getRequestURL().toString().contains(state.current.value)}?'layui-menu-item-checked':''"
                                >
                                <div class="layui-menu-body-title">
                                    <a th:text="${state.current.key}" th:href="${state.current.value}"></a>
                                    <span class="layui-font-12 layui-font-gray"> </span>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>