<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/equiment_detail.css">
    <link href="/static/js/wangEditor/wangEditor.css" rel="stylesheet">
</head>
<body>
<div class="buyticket" style="height: 890px">
    <div class="bread-wrapper"><span><a href="#"></a></span> <span class="symbol"></span>
        <span><a th:href="'/?etype='+${equiment.etype}" th:text="${etype.typeName}"></a></span>
        <span class="symbol">&gt;</span> <span class="project-name" th:text="${equiment.name}"></span>
    </div>

    <style>
        .activity-info-body video{
            max-width: 100%;
        }
    </style>
    <!----详情页面----->
    <div class="whole-detail-info-wrapper">
        <div class="detail-img-icon no_pic"
             th:style="'background-image: url('+${equiment.picture}+');'"></div>
        <div class="detail-info-wrapper">
            <div class="product-info-name"><!----> <span class="title" th:text="${equiment.name}"></span></div> <!---->
            <div class="login-show-wrapper">
                <ul class="clearfix" style="font-size: x-large">
                    <li class="title" style="font-size: x-large">描述：</li>
                    <li class="tickets">
                        <div class="vuene-info-content" style="font-size: x-large">
                            <div class="vuene-name" th:text="${equiment.describe}"></div>
                        </div>
                    </li>
                </ul>

            </div> <!---->
            <div class="login-show-wrapper">
                <ul class="clearfix" style="font-size: x-large">
                    <li class="title" style="font-size: x-large">获取：</li>
                    <li class="tickets">
                        <div class="vuene-info-content">
                            <div class="vuene-name" th:text="${equiment.achieving}"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <th:block th:if="${equiment.richTxt != '' && equiment.richTxt != null}">
        <div class="activity-info-wrapper ticket-system-container">
            <div class="activity-info scroll-wrapper" STYLE="width: 100%">
                <div class="activity-info-header">
                    <div class="icon icon-activity"></div>
                    <div class="guest-title">具体描述:</div>
                </div>

                <div class="activity-info-body" th:utext="${equiment.richTxt}" >
                </div>
            </div>
        </div>
    </th:block>

</div>

</body>
</html>